:root {
    --main-blue: #505FC7;
    --blue-light: #9AA3E1;
    --dark-blue: #2E3880;
    --secondary-blue: #6d70ff;
    --main-pink:  #FF78CB;
    --pink-dark: #D3409F;
    --pink-medium: #ff52bc;
    --border-bg-pnik: #e874bf;
    --border-bg-purple: #a462c3;
} 
* {
    margin: 0;
    padding: 0;
}
* img {
    pointer-events: none;
}
.pink {
    color:#FF78CB
}
.blue {
    color: #505FC7;
}
.darkblue {
    color: #2e3880;
}
.lightblue {
    color: #9AA3E1;
}
.light {
    color: #c1c7ed;
}
.pinks {
    color: #f96ec6;
}
@media screen and (max-width: 1024px){
    .header-content {
        text-align: center !important;
    }
    .menu-list li{
        margin: 2rem 0.8rem !important;
    }
    .graph img{
        width: 100%;
        position: relative;
        z-index: -1;
        margin: -5rem 0 -5rem !important;
    }
    .section {
        display: block;
        padding: 14px 0 72px !important;
    }
    /*FEATURE*/
    .features-content {
        align-items: center !important;
        flex-direction: column;
    }
    .feature-item {
     width: 33% !important;
     font-size: 2rem !important;
    }
    /*TOKEN SALE*/
    .chart-one,
    .chart-two {
        /* display: block; */
        width: auto !important;
        height: auto !important;
    }
    #chartOne,
    #chartTwo {
        width: 270px !important;
        height: 270px !important;
    }
    .chart-container {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        margin-bottom: 60px;
    }
    .sale-charts {
        display: flex;
        flex-direction: column !important;
    }
    .token-sale-content {
        height: auto !important;
        margin: 0 auto;
        text-align: center;
    }
    .token-sale-item h3{
        padding: 0 0.3rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 300
    }
    .sale-bottom-text p {
        padding-top: 1rem;
        font-size: 1.15rem !important;
    }
    .chart-row {
        display: flex;
        flex-direction: row;
        justify-content: center !important;
    }
    .chart-title {
        margin: 0 auto !important;
        text-align: center !important;
        min-width: 400px !important;
    }
    .chart-title h5 {
        display: flex;
        flex-direction: column;
        order: 0;
        width: 300px !important;
        text-align: center !important;
        align-items: center !important;
        margin: 0 auto;
        padding-bottom: 24px !important;

    }
    .chart-row * {
        margin: 0 24px;
    }
    /*TRUSTED BY*/
    .trusted .logo-container {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 !important;
    }
    /*NEWS*/
    .news-container {
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto !important;
    }
    .news-item-container {
        width: 100% !important;
        /* max-width: 50%; */
        text-align: center !important;
        height: auto !important;
    }
    /*TEAM*/
    .team-container {
        display: flex;
        flex-wrap: wrap;
    }
    .person {
        width: 50%;
        padding-bottom: 2rem;
    }
    /*FAQ*/
    .faq-content {
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem !important;
    }
    .faq-container .title-text {
        margin: 0 auto !important;
        max-width: 70% !important;
        padding: 0 0 3rem !important;
        font-weight: 300;
        font-size: 1rem;
    }
    .faq-content .question {
        max-width: 100%;
        margin-bottom: 2.4rem !important;
        text-align: left !important;
        height: max-content !important;
    }
    .faq-content .question .q-title {
        text-align: center !important;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 200;
        line-height: 1.4;
    }
    .faq-content .question .q-text {
        height: auto !important;
    }
    .footer-text {
        max-width: 90%
    }
}
@media screen and (max-width: 768px) {
    .header-content .menu-body {
        display: none !important;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown:hover .dropdown-content {
        display: none !important;
    }
    .dropdown-menu .menu-list {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 1rem !important;
    }
    .graph img{
        width: 100%;
        position: relative;
        z-index: -1;
        margin: -3rem 0 -3rem !important;
    }
    .section {
        display: block;
        padding: 14px 0 72px !important;
    }
    /*CHART*/
    .chart-one,
    .chart-two {
        /* display: block; */
        width: auto !important;
        height: auto !important;
    }
    #chartOne,
    #chartTwo {
        width: 270px !important;
        height: 270px !important;
    }
    .chart-container {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        margin-bottom: 60px;
    }
    .sale-charts {
        display: flex;
        flex-direction: column !important;
    }
    .token-sale-content {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }
    .chart-row {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        gap: 2rem;
        align-items: center;
    }
    .chart-title {
        margin: 0 auto !important;
        text-align: center !important;
        min-width: 400px !important;
    }
    .chart-title h5 {
        display: flex;
        flex-direction: column;
        order: 0;
        width: 300px !important;
        text-align: center !important;
        align-items: center !important;
        margin: 0 auto;
        padding-bottom: 24px !important;

    }
    .chart-row * {
        margin: 0 24px;
    }
    /*NEWS*/
    .news-container {
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto !important;
    }
    .news-item {
        padding: 0 0 !important;
    }
    .news-item h6 {
        display: flex;
        min-width: 300px;
        justify-content: left;
    }
    .news-item-container {
        width: 100% !important;
        text-align: left !important;
        height: auto !important;
    }
    /*FAQ*/
    .faq-content {
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .faq-container .question {
        width: 100% !important;
        /* max-width: 50%; */
        text-align: center !important;
    }
    .faq-container .title-text {
        margin: 0 auto !important;
        max-width: 100% !important;
        padding: 0 0 24px;
        font-weight: 400 !important;
        font-size: 18px;
    }
    /*FEATURES*/
    .features-content {
        display: flex;
        flex-direction: column;
    }
    .feature-item {
        width: 100% !important;
    }
    /*WHY SECTION*/
    .why-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center !important;
    }
    .why-content h1 {
        text-align: right !important;
        font-size: 2.5rem;
        margin: 0 auto !important;
        margin-bottom: 1rem !important;
    }
    .why-content .btn-container,
    .why-content h6 {
        text-align: center !important;
    }
    .trusted .logo-container {
        display: flex;
        flex-direction: column ;
        flex-wrap: wrap;
    }
    /*TEAM*/
    .team-container {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        /* text-align: center; */
    }
    .team-container .person img {
        padding: 0 0 !important;
    }
    .team-container .person {
        margin-bottom: 48px;
    }
    .footer-content {
        display: block !important;
    }
    .footer .left {
        display: block;
        width: auto !important;
    }
    .footer .mid,
    .footer .right {
        display: inline-block !important;
        width: 40% !important;
    }
    .footer .right {
        position: relative;
        top: -160px;
    }
    .links {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap !important;
        justify-content: flex-start !important;
    }
    .footer-nav a,
    .footer-links a {
        padding-bottom: 12px !important;
        width: auto !important;
    }
    .footer-links {
        padding-top: 0 !important;
        margin-right: 0 !important;
        margin: 0 18px;
    }
    .copyright {
        margin: -160px 0 48px !important;
    }
}
html {
    line-height: 1.15;
}
body {
    font-family: roboto,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #9AA3E1;
}
.text-center {
    text-align: center;
    margin: 0 auto;
}
p {
    line-height: 1.7;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 3rem;
    font-weight: 300;
}
h2 {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.7;
}
h3 {
    color:#505FC7;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.7;
}
h5 {
    font-size: 1.5rem;
    color: #505FC7;
    font-weight: 300;
}
h6 {
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: 700;
}
.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.menu-list li :hover {
    color: #ff78cb;
}
.menu-list :first-child :hover {
    color:#38eeb9 !important;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
}
.header-content {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
}
.logo {
    font-size: 2.4rem;
    font-weight: 400;
    color:#505FC7;
}
.logo span {
    font-weight: 700;
    color: #FF78CB;
}
.menu-body {
    margin-right: 1.5rem;
}
.menu-list {
    list-style: none;
    display: flex;
}
.menu-list:link,
.menu-list:visited {
    text-decoration: none;
}
.menu-list li {
    text-align: center;
    margin: 2rem 0.8rem;
}
.menu-list a {
    text-decoration: none;
    /* font-size: 1.2rem; */
    font-weight: 400;
    color:#505FC7;
}
.nav-features {
    color:#FF78CB !important;
}
/* dropdown */
.hidden {
    display: none;
}
.dropbtn {
    font-weight: 700 !important;
    color: #FF78CB !important;
}
.menu-list {
    overflow: hidden;
}
.dropdown {
    float: left;
    overflow: hidden;
    margin: 2rem auto;
    width: 120px;
    text-align: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    /* margin-top: 10px; */
    z-index: 1;
    min-width: 120px;
}
.dropdown-content a {
    float: none;
    display: block;
    padding: 12px 16px;
    margin: 6px 0;
    border-bottom: 1px solid #e9ebf8;
    text-align: center;
    color:#505FC7
}
.dropdown-content a:hover {
    color: #ff78cb;
}
.dropdown-content a:last-child {
    border-bottom: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* main-hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.hero-title {
    padding-bottom: 8px;
}
.hero-description {
    font-weight: 300;
    font-size: 1.2rem;
    max-width: 550px;
    text-align: center;
    padding: 16px 0;
    margin: 0 auto !important;
}
.hero-content {
    text-align: center;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 6px;
    border: 0;
    margin: auto 0;
}
.btn-primary {
    display: inline-block;
    border: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    padding: 8px 28px;
    margin-top: 16px;
    background: linear-gradient(90deg, #ff78cb, #d3409f);
}
.btn img {
    width: 16px;
    height: 16px;
}
.btn-primary:hover {
    background: linear-gradient(45deg, #ff52bc, #ff78cb);
    color: #2E3880;
}
/*  */
.graph img{
    width: 100%;
    position: relative;
    z-index: -1;
    margin: -8rem 0 -8rem;
}
.img-graph {
    max-width: 100%;
    height: auto;
}
/*  */
.text-block{
    text-align: center !important;
    margin: 0 auto;
    max-width: 650px;
    display: inline-block;
    margin-bottom: 80px;
}
.info-text {
    margin: 0 -0 24px;
    font-size: 1.5rem;
    line-height: 1.7;
    width: 100%;
} 
.btn-secondary {
    display: inline-block;
    color: #6d70ff;
    border: 2px solid #6d70ff;
    padding: 8px 28px;
    font-weight: 400;
    margin: 16px 0;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #6d70ff;
}
/*  */
.section {
    display: block;
    padding: 32px 0 128px;
}
.features-content {
    display: flex;
}
.feature-item {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin: 16px 0;
}
.feature-item img {
    margin: 1.2rem 0;
}
.feature-item p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    margin: 0 0 16px;
    max-width: 340px;
    margin: 0 auto;
}
.features h2 {
    color: #505FC7;
    font-weight: 400;
    margin: 0 0 8px;
}
.section-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    order: 0;
    margin: 56px 0 32px;
}
.section-title:after {
    content: "";
    order: 1;
    background: linear-gradient(to right, #e874bf, #a462c3);
    height: 2px;
}
*.mini-title:after {
    width: 125px;
    order: 1;
}
*.max-title:after {
    width: 250px;
    order: 1;
}
/*  */
.token-sale {
    display: block;
    background-color: #f8f9fd;
    text-align: center;
    padding: 32px 0 128px;
}
.progress-area {
    display: flex;
    margin: 5rem 0;
    justify-content: space-around;
    align-items: center;
}
.progress {
    /* border: 1px solid black; */
    display: block;
    width: 80%;
    max-width: 80%;
    height: 2.5rem;
    font-size: .75rem;
    border-radius: 6rem;
    z-index: 1;
    overflow: visible;
    background-color: #e9ebf8;
}
.progress-bar {
    z-index: 2;
    height: 2.5rem;
    border-radius: 6rem;
    display: flex;
    background-image: linear-gradient(to right,#c75be6,#39baff,#38eeb9);
}
.token-sale p {
    margin: 0 auto 16px;
    font-weight: 300;
    max-width: 650px;
    font-size: 1.2rem;
}
.token-sale-content {
    text-align: center;
    display: flex;
    padding: 0 0 3rem;
}
.token-sale-item {
    display: inline-block;
    width: 380px;
    flex-grow: 1;
    text-align: center;
}
.token-sale-item h6 {
    color: #FF78CB;
    text-transform: uppercase;
    padding: 0 0 8px;
}
.sale-number {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.2;
}
.btn-purchase {
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    padding: 20px 56px;
    margin-top: 24px;
}
.sale-bottom-text {
    padding-bottom: 32px;
}
.sale-bottom-text p{
    margin: 16px auto;
    font-size: 1rem;
    font-weight: 500;
}
/*  */
.chart-one,
.chart-two {
    display: block;
    width: 540px;
    height: 270px; 
}
#chartOne,
#chartTwo {
    width: 270px !important;
    height: 270px !important;
}
.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sale-charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 48px 0 0;
}
.chart-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.chart-title {
    text-align: left;
    padding-left: 16px;
    margin-bottom: 32px;
}
.chart-title h5 {
    display: flex;
    flex-direction: column;
    order: 0;
    width: 50%;
    text-align: left;
}
.chart-title h5:after {
    content: "";
    order: 1;
    background: linear-gradient(to right, #e874bf, #a462c3);
    height: 2px;
    width: 125px;
}
.chart-legend {
    text-align: left;
    width: auto;
    margin: auto 0;
}
.chart-legend li {
    padding: 4px 0;
    list-style: none;
}
.legend-circle {
    display: inline-block;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    margin-bottom: -2px
}
/*  */
.why-content {
    margin-top: 3rem !important;
    display: flex;
}
.img-container,
.text-container {
    width: 50%;
    padding: 0 15px;
}
.img-container img {
    width: 100%;
    height: auto;
}
.text-container {
    margin: 16px 0;
}
.text-container * {
    margin: 0 0 24px;
}
.text-container.blue {
    font-size: 2.5rem;
}
.text-container.light {
    font-weight: 300;
    font-size: 1.125rem;
}
.text-container.btn {
    margin-top: 16px;
}
.trusted {
    text-align: center !important;
}
.trusted.section-title {
    display: flex;
    flex-direction: column;
}
.trusted .logo-container {
    display: flex;
    justify-content: space-around;
    margin: 48px 0 0;
    align-items: center !important;
}
.logo-container .logo {
    padding: 0 24px;
    text-align: center;
}
/*  */
.news {
    padding: 32px 0 128px;
    background-color: #f8f9fd;
}
.news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1rem;
}
.news-item-container {
    width: 50%;
    max-width: 50%;
    text-align: left;
    height: 174px;
}
.news-item {
    margin: 3rem 0 1.5rem;
    padding-left: 2rem;
}
.news-item h6 {
    margin: 0 0 8px;
}
.news-item h5 {
    margin: 0 0 24px;
}
.news .btn-container {
    margin-top: 32px;
}
/*  */
.customers .section-title {
    margin-bottom: 5rem;
}
.customers-item {
    padding: 2rem;
    background-color: #f8f9fd;
    display: block;
    max-width: 83%;
    margin: 0 auto;
}
.customers-item .carousel-content {
    display: block;
    margin: -85px auto 0;
}
.customers-img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(/BestCoin/images/happyface.webp);
    background-size: cover;
    background-position: center;
}
.customers-text-content {
    text-align: center;
    margin: 48px 48px 32px;
}
.customers-title {
    padding: 0 0 8px;
}
.customers-text {
    font-weight: 300;
    max-width: 750px;
    width: auto;
    text-align: center;
    margin: 0 auto;
}
/* owl nav styles */
.owl-nav {
    position: absolute;
    top: 10rem;
    left: 0;
    width: 100%;
    display: block;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    display: inline-block;
    width: 50%;
}
.owl-nav .owl-prev {
    text-align: left;
}
.owl-nav .owl-next {
    text-align: right;
}
.owl-nav button span{
    font-size: 48px;
}
.owl-nav button span:hover{
    color:#2E3880;
}
/*  */
.section.roadmap {
    /* padding: 32px 0 96px !important; */
    padding-bottom: 48px;
}
.roadmap .text-center {
    margin: 0 auto 16px;
    padding: 16px;
    font-size: 18px;
    font-weight: 300;
}
.timeline-container {
    margin: 48px 0;
}
.timeline {
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}
.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 4px;
    background: #ff78cb
}
.timeline-block {
    margin: 64px 0;
}
.timeline-block:first-child {
    margin-top: 0 !important;
}
.timeline-block:last-child {
    margin-bottom: 0 !important;
}
.timeline-checkpoint {
    width: 15px !important;
    height: 15px !important;
    top: 0;
    left: 50%;
    margin-left: -10px;
    position: relative;
    border-radius: 50%;
    background: #fff;;
    border: 4px solid #ff78cb;
}
.timeline-content {
    display: flex;
    position: relative;
    margin-bottom: 64px;
    top: -24px;
}
.timeline-date, .timeline-text {
    width: 50%;
}
.timeline-date {
    font-weight: 600;
    font-size: 15px;
}
.timeline-text .title {
    font-weight: 300;
    padding: 0 0 8px;
}
.timeline-text .light {
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 16px;
}
.timeline-date.date-right {
    text-align: right;
    padding-right: 36px;
    margin: 5px 0;
}
.timeline-text.text-left {
    text-align: left;
    padding-left: 36px;
    position: relative;
}
.timeline-date.date-left {
    text-align: left;
    padding-left: 36px;
    margin: 5px 0;
}
.timeline-text.text-right {
    text-align: right;
    padding-right: 36px;
    position: relative;
}
/*  */
.team-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.person h6 {
    font-weight: 600;
    margin-top: 4px;
}
.team-pic {
    width: 255px;
    height: 372px;
    object-fit: cover;
    padding-bottom: 0.5rem;
}
/*  */
.faq-container .title-text {
    margin: 0 230px 16px;
    padding: 0 0 24px;
    font-weight: 300;
    font-size: 18px;
}
.faq-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.faq-content .question {
    width: 50%;
    max-width: 50%;
    text-align: left;
    height: 174px;
}
.faq-content .question h2 {
    font-weight: 300;
    font-size: 2rem;
}
/*  */
.footer {
    background-color: #f8f9fd;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 60px 0;
}
.footer.left,
.footer.mid,
.footer.right {
    width: 33.33%;
    margin: 16px;
}
.footer.mid h6,
.footer.right h6 {
    margin: 12px 0 24px;
}
.footer-address,
.footer-phone,
.footer-email {
    padding-bottom: 24px;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-nav,
.footer-links {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    /* height: auto; */
}
.footer-nav a,
.footer-links a {
    padding-bottom: 16px;
}
.copyright {
    margin: 0 0 48px;
}
